:root {
  --body-background-color: #2d3038;
  --background-color: #0d181b;
  --text-color: white;
  --accent-color: #9b3838;
  --btn-disabled-tag-btn-color: #742929;
  --btn-disabled-tag-child-btn-color: #787878;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--body-background-color);
  color: var(--text-color);
}

li,
a {
  color: var(--text-color) !important;
  text-decoration: none !important;
}
a:hover {
  color: var(--accent-color) !important;
}


.card-img-header > div {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card-img-header > img {
  position: relative;
}


.card {
    border: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 428px;
    max-height: 421px;
  }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
