:root {
  --body-background-color: #2d3038;
  --background-color: #0d181b;
  --text-color: white;
  --btn-color: #9b3838;
  --btn-disabled-tag-btn-color: #742929;
  --btn-disabled-tag-child-btn-color: #787878;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--body-background-color);
  color: var(--text-color);
}

li,
a {
  color: var(--text-color) !important;
  text-decoration: none !important;
}
a:hover {
  color: var(--btn-color) !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
