#tag-selector-btn {
  position: absolute;
  background-color: var(--background-color);
  z-index: 9999;
  top: 18px;
  left: 95px;
}

#tag-selector {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  z-index: 9999;
  top: 85px;
  left: 18px;
  max-width: 510px;
  animation: fadeIn 0.05s linear;
  padding: 0 20px 0 20px;
}

.tag-btn,
.tag-child-btn {
  font-size: 12px !important;
  text-transform: uppercase;
}

.tag-btn.selected,
.tag-btn.selected:hover {
  color: var(--text-color);
  background-color:var(--body-background-color);
}

.tag-btn.unselected,
.tag-btn.unselected:hover {
  color: var(--btn-disabled-tag-btn-color);
  background-color: transparent;
  background-image: none;
  text-decoration:line-through;
}

.tag-child-btn.selected,
.tag-child-btn.selected:hover {
  color: var(--text-color);
  background-color: var(--body-background-color);
  border-color: var(--body-background-color);
}

.tag-child-btn.unselected,
.tag-child-btn.unselected:hover {
  color: var(--btn-disabled-tag-child-btn-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--btn-disabled-tag-child-btn-color);
  text-decoration:line-through;
}
